.link{
  float:right;
  word-spacing:15;
  padding-right:30;
}

html{
  background-color: rgb(222, 234, 134);
}

nav{
    background-color: skyblue;
    border:solid;
    border-color:black;
    margin:-8;
    height:50;   
    font-family:cursive;
    font-size:xx-large;
    padding:25;
    padding-left:40;
  } 

  h1{
    text-align: center;
    font-family: fantasy;
    font-size:60;
  }

  #personalstatement{
    width:600;
    height:400;
    margin-left:125;
    padding:2%;
    background-color: pink;
    float:left;
    text-align:center;
    font-size:25;
    font-family:cursive;
    border:double;
    border-color:black;
  }

  #avatar{
    border-radius: 50%;
    margin-left:250;
  }
